	
body
{
	background-color: #556B2F
	background-image: url("https://www.pinterest.com/pin/385550418071093845/");
    background-color: #cccccc;

	
}
div {
	
	height: 100px;
	background-color: #2F4F4F;
	text-align: center;
	padding: 50px;
	color: #F8F8FF;
	font-size: 180%
	
	
	}
